<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>getdressed</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href='{% static "css/vendor.css" %}'>
    <link rel="stylesheet" href='{% static "css/main.css" %}'>

    <!-- script
    ================================================== -->
    <script src='{% static "js/modernizr.js" %}'></script>
<script defer src='{% static "js/fontawesome/all.min.js" %}'></script>

    <!-- favicons
    ================================================== -->
    <link rel="icon" sizes="180x180" href="{% static 'images/gd_logo_2.png' %}" type="image/png">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"> -->
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">

<!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- site header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="/"> 
                <img src="{% static 'images/gd_logo_2.png' %}" alt="Company Logo" class="logo">
            </a>
        </div>

        <div class="header-email">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 12l11 3.1 7-8.1-8.156 5.672-4.312-1.202 15.362-7.68-3.974 14.57-3.75-3.339-2.17 2.925v-.769l-2-.56v7.383l4.473-6.031 4.527 4.031 6-22z"/></svg>
            <a href="mailto:#0">info@getdressed.in</a>
        </div>

    </header> <!-- end s-header -->


    <!-- intro
    ================================================== -->
    <section id="intro" class="s-intro s-intro--slides">

        <div class="intro-slider">
            <div class="intro-slider-img bg-opacity-40" style="background-image: url('{% static 'images/slides/shreya_2.jpg' %}');"></div>
            <div class="intro-slider-img" style="background-image: url('{% static 'images/slides/shreya_3.jpg' %}');"></div>
            <div class="intro-slider-img" style="background-image: url('{% static 'images/slides/shreya_1.jpg' %}');"></div>
        </div>
        
        

        <div class="grid-overlay">
            <div></div>
        </div> 

        <div class="row intro-content">

            <div class="column">

                <div class="intro-content__text">

                    <h3 style="color: #d6cfc8 ;">
                    You Haven’t Seen the Best of You—Yet.
                    </h3>
                    
                    <p style="color: #f1eeeb;">
                    Imagine standing in front of a mirror, yourself that’s bold, confident, and undeniably you.<br> 
                    The kind of look that doesn’t just turn heads but makes you feel unstoppable.<br>
                    It’s not just about clothes—it’s about discovering a side of yourself you never knew existed.<br>
                    <br>
                    At Get Dressed, we believe that within everyone lies a style story waiting to be told.<br> 
                    A story that transforms how you see yourself and how the world sees you.<br> 
                    The journey to your best self is about to begin, Stay curious, Stay ready.<br> 
                    Because something extraordinary is coming —— <h3 style="color: #d6cfc8;">it’s made just for you.</h3> <br>
                    </p>

                </div> <!-- end intro-content__text -->

                <div class="intro-content__bottom">

                    <div class="intro-content__counter-wrap">
                        <h4 style="color: #d6cfc8;">Launching in</h4>
                            <span style="color: #f1eeeb; font-size: 10px;">when you start loving us</span>
                        <!-- <div class="counter">
                            <div class="counter__time days">
                                30
                                <span>D</span>
                            </div>
                            <div class="counter__time hours">
                                09
                                <span>H</span>
                            </div>
                            <div class="counter__time minutes">
                                54
                                <span>M</span>
                            </div>
                            <div class="counter__time seconds">
                                57
                                <span>S</span>
                            </div>
                        </div>  end counter -->
                    </div> <!-- end intro-content__counter-wrap -->

                    <div class="intro-content__notify">
                        <button type="button" class="btn--stroke btn--small modal-trigger">
                            Notify Me
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12l-9-9v7h-15v4h15v7z"/></svg>
                        </button>
                    </div> <!-- end intro-content__notify -->
    
                </div> <!-- end intro-content__bottom -->

            </div> <!-- end column -->

        </div> <!--  end intro-content -->

        <div class="modal">
            <div class="modal__inner">

                <span class="modal__close"></span>

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z"/></svg>

                <h3>Sign Up</h3>
                <p>
                Be the first to know about the latest updates and
                get exclusive offer on our grand opening.
                </p>

                <form id="mc-form" class="group mc-form" novalidate="true">
                    <input type="email" value="" name="EMAIL" class="email h-full-width h-text-center h-add-half-bottom" id="mc-email" placeholder="Email Address" required="">
                    <input type="submit" name="subscribe" value="Subscribe" class="btn--small h-full-width">
                    <label for="mc-email" class="subscribe-message"></label>
                </form>

            </div> <!-- end modal inner -->
        </div> <!-- end modal -->

        <ul class="intro-social">
            <li><a href="#0"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
            <li><a href="#0"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
        </ul> <!-- end intro social -->

        <div class="intro-scroll">
            <a href="#info" class="scroll-link smoothscroll">
                Scroll For More
            </a>
        </div> <!-- end intro scroll -->

    </section> <!-- end s-intro -->


    <!-- info
    ================================================== -->
    <section id="info" class="s-info">

        <div class="vert-line"></div>
        
        <div class="row info-content">
            <div class="column">
                
                <nav class="tab-nav">
                    <ul class="tab-nav__list"> 
                        <li class="active" data-id="tab-about">
                            <a href="#0">
                                <span>Our Story</span>
                            </a>
                        </li>
                        <li data-id="tab-services">
                            <a href="#0">
                                <span>Why you should be Excited ?</span>
                            </a>
                        </li>
                        <li data-id="tab-contact">
                            <a href="#0">
                                <span>Want to Reach ?</span>
                            </a>
                        </li>
                    </ul>
                </nav> <!-- end tab-nav -->

                <div class="tab-content">

                    <!-- 01. tab about -->
                    <div id="tab-about" class='tab-content__item'>

                        <div class="row tab-content__item-header">
                            <div class="column">
                                <h1>Finally, We got you !</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                <p class="lead">
                                    We’ve got a small story that could easily be wrapped up in just 2 parts, each around 2.5 hours. But with your love and support, we’re ready to stretch it into a 4-5 part epic! Don’t worry, it won’t be as long as Harry Potter, but it won’t be a quick Baahubali-style flick either. Instead of making you read all the details, we’d rather show you the movie—because, trust us, that’s what’s more profitable. And you know who will love that? Our founder—he’s all about the money!
                                </p>

                                <p>
                                    We are a team of 5 members and even though we don't know who they are, 
                                    we just know each other through family relations. 
                                    We are a really hard working team. We were desiging this website 
                                    from 2024 and able to complete it in 2025.

                                    <br><br>

                                    We’re starting a journey to bring that missing spark to your life. 
                                    While we’re keeping some things under wraps for now, we’re leaving 
                                    the door open for you to make your predictions. 
                                    We’re in the pre-launch phase, and this brand, designed by 
                                    Go***toz from Bengaluru, with strategies crafted in Mumbai, 
                                    is being brought to life by the hardworking folks of Bhilai. 
                                    Think of it like a mango tree—starting small but destined to 
                                    grow into something truly sweet.
                                </p>

                                <!-- <div class="row">
                                    <div class="column large-6 tab-full">
                                        <h4>More About Us.</h4>
                                        <p>
                                        Sed consequatur quia delectus praesentium. Ut unde velit maiores aut sint 
                                        quia molestiae accusamus. Nihil et quidem qui natus ut et. Autem error 
                                        architecto. Pariatur ex repellendus. Occaecati voluptatibus dolorem magni 
                                        molestiae dolore voluptas occaecati asperiores nemo. Est fugiat fuga nesciunt 
                                        ducimus quaerat et placeat natus.
                                        </p>
                                    </div>
                                    <div class="column large-6 tab-full">
                                        <h4>Need Web Hosting?</h4>
                                        <p>
                                        Need a great reliable web hosting?
                                        We highly recommend <a href="https://www.dreamhost.com/r.cgi?287326">DreamHost</a>.
                                        Powerful web and Wordpress hosting. Guaranteed. Starting at $2.95 per month.
                                        </p>
                                        <a href="https://www.dreamhost.com/r.cgi?287326" class="btn btn--stroke h-full-width">Get Started Now</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        
                    </div> <!-- end 01. tab about -->

                    <!-- 02. tab services -->
                    <div id="tab-services" class='tab-content__item'>

                        <div class="row tab-content__item-header">
                            <div class="column">
                                <h1>Are You Really Want to Know.</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                <p>
                                    <p class="lead">Umm… </p> not sure what we’d do for those who don’t love themselves, but we’re pretty sure you do!<br>
                                    And if that’s the case, then get ready to fall even more in love with yourself. <br>
                                    Every time you getdressed by us, you’ll be falling over and over again.
                                </p>
                            </div>
                        </div>

                        <div class="row services-list block-large-1-2 block-medium-1-2 block-tab-full">

                            <div class="column services-list__item">
                                <div class="services-list__item-content">
                                    <h4 class="item-title">Happiness Unlimited</h4>
                                    <p>
                                        Ever felt the kind of joy that makes you want to twirl, 
                                        smile at strangers, and dance in your living room? <br> 
                                        That’s the vibe we’re bringing.
                                        A happiness so pure, it should come with a disclaimer: <br> 
                                        <br>
                                        May cause random bursts of self-love for you <br> 
                                        <a href="https://youtu.be/IBvg3WeqP1U?t=132">lets-listen</a>.
                                    </p>
                                </div>
                            </div>
                
                            <div class="column services-list__item">
                                <div class="services-list__item-content">
                                    <h4 class="item-title">Unforgettable Memories</h4>
                                    <p>
                                        Imagine looking back on your favorite moments and realizing 
                                        you felt your absolute best every single time.<br> 
                                        That’s the kind of story we want to help you write—one unforgettable chapter at a time.<br>
                                        <br>
                                        Side note: You might find yourself accidentally becoming the star of every throwback photo.
                                    </p>
                                </div>
                            </div>
                
                            <div class="column services-list__item">
                                <div class="services-list__item-content">
                                    <h4 class="item-title">Effortless Charm</h4>
                                    <p>
                                        Walking into a room and stealing the spotlight,<br>
                                        step by step, with all the confidence you never knew you had!<br>
                                        No more second-guessing, no more doubts—just pure charm,<br>
                                        and that’s what we will help you to discover!<br>
                                        <br>
                                        We don't know you are ready or not but we are..<br>
                                        <br><br>
                                        We're about to make kajal the most valuable thing 
                                        in your bag —because let's face it,<br> 
                                        you're probably using it more than your phone!
                                    </p>
                                    <!-- <p>
                                        Ever walked into a room and felt every eye on you?<br>
                                        Maybe once, maybe twice... but that’s rare,<br>
                                        isn’t it well,from now get used to it.<br> 
                                        Once you’re with GetDressed—uff! <br>
                                        You’ll be the showstopper. Don't say we didn’t warn you
                                        —your new fan club is waiting to take selfies with you!<br>

                                        We provide free kajal for your safety—so stay assured no harm to your charm.
                                    </p> -->
                                </div>
                            </div>
                
                            <div class="column services-list__item">
                                <div class="services-list__item-content">
                                    <h4 class="item-title">Discovering You</h4>
                                    <p>
                                        Ever wonder how gold discovered its shine? <br>
                                        By its own— No someone had to spot it first<br>
                                        We all think we know ourselves, but what if <br>
                                        the real version of us is waiting to be revealed?<br>
                                        We’re here to show you the magic you’ve been missing—<br>
                                        the version that’s been there all along,<br>
                                        just waiting for the world to see it.<br>
                                        <br>
                                        And when you do, don’t be surprised if you catch <br>
                                        a glimpse of yourself in the mirror and think, <br>
                                        “Wait, who is this fabulous person?” <br>
                                        It’s you—finally discovered.<br>
                                         
                                        <!-- Side note : Randomly It can happen you will see yourself in the middle of the night and then sleep ooh this might not me. -->
                                    </p>
                                </div>
                            </div>
                
                            <!-- <div class="column services-list__item">
                                <div class="services-list__item-content">
                                    <h4 class="item-title">UI/UX Design</h4>
                                    <p>
                                    Sit ut cum molestiae. Dolore ducimus qui quasi. Fugiat consequatur sit vel illum vel et 
                                    a delectus. Vel sequi vitae voluptatem perspiciatis eligendi. Voluptatibus optio natus 
                                    asperiores est commodi amet quia architecto. Dolores necessitatibus et.
                                    </p>
                                </div>
                            </div> -->
                
                            <!-- <div class="column services-list__item">
                                <div class="services-list__item-content">
                                    <h4 class="item-title">Mobile Design</h4>
                                    <p>
                                    Sit ut cum molestiae. Dolore ducimus qui quasi. Fugiat consequatur sit vel illum vel et 
                                    a delectus. Vel sequi vitae voluptatem perspiciatis eligendi. Voluptatibus optio natus 
                                    asperiores est commodi amet quia architecto. Dolores necessitatibus et.
                                    </p>
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="column">
                                    <p>
                                        If you’re ever stuck with a bunch of confident, happy, and charming people, making memories at every step—well, congrats, you’ve just bumped into the GetDressed people!
                                    </p>
                                </div>
                            </div>
                
                        </div> <!-- end services-list -->
                        
                    </div> 
                    <!-- end 02. tab services -->

                    <!-- 03. tab contact -->
                    <div id="tab-contact" class="tab-content__item">

                        <div class="row tab-content__item-header">
                            <div class="column">
                                <h1>Want to Get In Touch With Us ?</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="column">
                                <p>
                                    Thank you for taking the time to explore Get Dressed—we’re blushing! Your curiosity is already making you a trendsetter. 
                                    Don't worry, we’ll be sliding into your inbox soon with something amazing.<br><br>
                                    Click the Notify Me button, drop your email, and as a huge thank you, 
                                    we’ll give you 80% off our services—because, well, the other <b style="font-size: 20px;"> 20%</b> went into marketing... 
                                    and possibly buying us a coffee to keep going. <br>
                                    Let's make your style story legendary!
                                </p>

                                <div class="row">
                                    <div class="column large-eight tab-full">
                                        <h4>Where to Find Us</h4>
                
                                        <p>
                                        🌍 Somewhere on Earth, in your very own galaxy<br>
                                        🇮🇳 Wandering through the vibrant streets of India<br>
                                        📱 Always a DM away—Find us on Instagram
                                        </p>
                
                                    </div>
                
                                    <div class="column large-four tab-full">
                                        <h4>Follow Us</h4>
                
                                        <ul class="link-list">
                                            <li><a href="/wait/">Facebook</a></li>
                                            <li><a href="/wait/">Twitter</a></li>
                                            <li><a href="/wait/">Instagram</a></li>
                                        </ul>
                
                                    </div>
                                </div>

                                <p class="tab-content__item-bottom">
                                    <a href="mailto:#0" class="contact-email">info@getdressed.in</a>
                                    <span class="contact-number"> 
                                        <a href="tel:">+91 *** 980 9996</a>
                                        <a href="tel:">+91 738 *** 2810</a>
                                    </span>
                                </p>

                            </div>
                        </div>
                        
                    </div> 
                    
                    
                    <!-- end 03. tab contact -->

                </div> <!-- end tab content -->

                <footer>

                    <div class="ss-copyright">
                        <span>© Copyright getdressed 2024-25</span> 
                        <span>Design by <a href="/">GetDressed</span></a>
                    </div>

                    <div class="ss-go-top">
                        
                        <a class="smoothscroll" title="Back to Top" href="#top">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"></path></svg>
                        </a>
                    </div>
                    
                </footer>

            </div> <!-- end column -->
        </div> <!-- end row -->

    </section> <!-- end s-info -->

    <!-- Java Script
    ================================================== -->
    <script src='{% static "js/jquery-3.2.1.min.js" %}'></script>
    <script src='{% static "js/plugins.js" %}'></script>
    <script src='{% static "js/main.js" %}'></script>

</body>